html {
	background-color:rgb(0, 0, 0);
}

header {
	background-color:#000000;
	padding:30px;
	text-align: center;
	font-size: 80px;
	color: rgb(255, 255, 255);
	font-family: Paladins;
	float: left;
	position: absolute;
	top: 0;
}

sub{
	font-family: Paladins;
	font: size 10px;
	position: absolute;
	bottom: 60em;
	left: 3em;
	color: rgb(255, 255, 255);
}


p{
	font-family: Paladins;
	font: size 10px;
	position: absolute;
	bottom: 40em;
	left: 3em;
	color: rgb(255, 255, 255);
}


nav ul{
	float: left;
	list-style-type:none;
	padding:0;
    color:aliceblue
	
}

nav {
	background-color: rgb(0, 0, 0);
	padding:50px;
	text-align: left;
	font-family: Paladins;
	font-size: 20px;
	color: rgb(255, 255, 255);
	text-decoration: none;
	
	display: flex;
  	align-items: center;
  	justify-content: bottom;
}

a{
	text-decoration: none;
	padding: 30px;
  	display: flex;
  	justify-content: space-between;
}

li{
	list-style: none;
	display: block;
}

a:link {
	color:aliceblue
}

a:visited {
	color: aliceblue

}

a:hover {
	color: lightblue
}

img{
	width: 726px;
	height: 944px;
	position: absolute;
	right:0em;
	top: 0em;

}

h1 img{
	width: 400px;
	height: 200px;
	position:absolute;
	left: 22em;
	top: 1em;
}

h2 img{
	width: 800px;
	height: 800px;
	float: right;
	border: #ffffff;
	border-radius: 5cm;
}

h3 img{
	width:1775px;
	height:985px;
	position: absolute;
	bottom: 0em;
	left: 0em;
}

h4 a{
	font-family: Lastik;
	position: absolute;
	bottom:30em;
	left: 1em;
}

h5 a{
	font-family: Lastik;
	position: absolute;
	bottom:32em;
	left: 1em;
}

sub{
	position: absolute;
	top: 10em;
}